{% if site.matomo %}

<!-- Matomo -->
<script  type="text/javascript">
    var _paq = window._paq = window._paq || [];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);_paq.push(['alwaysUseSendBeacon']);_paq.push(['setTrackerUrl', "\/\/problemsolversguild.com\/wp-json\/matomo\/v1\/hit\/"]);_paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.src="\/\/problemsolversguild.com\/wp-json\/matomo\/v1\/hit\/"; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Code -->
{% endif %}