/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 


.post-content p, .post-content li {
   font-size: 1rem;
   color: #515151;
}

p code {
    font-size: 90%;
}

h1, h2, h3, h4 { 
    code {
      font-size: 90%;
    }
}
pre code {
    background: $dt-code-cell-background;
    color: $dt-gray-light;
    font-size: 0.9rem !important;
}
tt, code {
    font-size: 90%
}
.post-meta-title, .post-meta {
    font-size: 100%;
}

.page-description {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    color: #585858;
    font-size: 100%;
}

.post-title, .post-content h1 {
    font-size: 2rem;
}

.post-content h2 {
    font-size: 1.5rem;
}

.post-content h3 {
    font-size: 1.17rem;
}

.post-content h4 {
    font-size: 1.25rem;
}

.post-content h5 {
    font-size: .83rem;
}

.post-content h6 {
    font-size: .67rem;
}